html, body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center; 
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 600px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.title {
  letter-spacing: 2px;
}
form {
  width: 100%;
  display: grid;
  grid-template-columns: 85% 1fr;
  column-gap: 0;
}
form input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}
form button {
  height: 40px;
  padding: 10px 15px;
  color:#fff;
  background: #ea4c89;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
}
ul {
  width: 100%;
  padding: 0;
  list-style: none;
}
ul p {
  text-align: center;
}
li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li button {
  background-color: transparent;
  font-size: 20px;
}